@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-50: 255 242 241;
  --primary-100: 255 226 224;
  --primary-200: 255 203 199;
  --primary-300: 255 166 160;
  --primary-400: 255 116 106;
  --primary-500: 248 71 59;
  --primary-600: 225 38 25;
  --primary-700: 193 31 20;
  --primary-800: 160 29 20;
  --primary-900: 132 31 24;
  --primary-950: 72 11 7;
}

.dark {
  --primary-50: 250 246 254;
  --primary-100: 242 235 252;
  --primary-200: 232 218 250;
  --primary-300: 214 189 245;
  --primary-400: 189 147 237;
  --primary-500: 164 105 227;
  --primary-600: 141 73 212;
  --primary-700: 120 55 185;
  --primary-800: 101 49 152;
  --primary-900: 83 41 122;
  --primary-950: 56 18 89;
}

@layer base {
}
